$green : green;
$red : red;
$fz : 20px;

.hello-world-button {
  font-size: $fz;
  padding: 7px;
  background: $green;
  color: white;
  outline: none;
}

.hello-world-text {
  color: $red;
  font-weight: bold;
}